@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "Montserrat", sans-serif;
}

/* Changing the form field height */
/* input {
  height: 45px !important;
} */

/* Changing pop-out menu font color */
#links a {
    color: black;
}

/*-------------------------------------- Navbar Hide on Scroll Down --------------------------------------*/
.nav-up {
    top: -80px;
}
.navbar{
   transition: top 0.4s ease-in-out;
}
.sidebar,
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}
.sidebar {
  left: -100%;
  max-width: 300px;
  transition: all ease 0.25s;
  overflow-y: auto;
  z-index: 1032;
}
.overlay {
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  visibility: hidden;
  z-index: 1031;
}
.main-navigation.active .sidebar {
  left: 0;
}
.main-navigation.active .overlay {
  visibility: visible;
}
@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    flex-direction: row;
    max-width: 100%;
    transform: none;
    transition: none;
    overflow-y: visible;
    z-index: auto;
  }
  
}
.main-heading {
  position: relative;
  z-index: 100;
}
@media (max-width: 991.98px) {
	  .navbar-nav {
	  padding-top: 5rem;
	  padding-left: 1.5rem;
  }
}
@media (min-width: 1084px) {
  .order-lg-2 svg {
    display: none;
  }
}
.navbar a {
  color: #FFFFFF !important;
  font-size: 1.25em;
}
/* End of navbar */

/*-------------------------------------- Hero Section --------------------------------------*/
#heroSection {
  background-image: url(../img/kitchenBox.jpg);
  background-size: cover;
  position: relative;
  height: 550px;
  width: 100%;
}

#heroRow {
  height: 550px;
  width: 100%;
}

#heroTitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 4rem;
  margin-top: 50px;
}

/*-------------------------------------- Contact Container --------------------------------------*/
#contactContainer {
  min-height: 350px;
  max-height: 450px;
  width: 800px;
  position: relative;
  bottom: 100px;
  left: 250px;
  background-color: #191919;
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 13px rgba(154,160,185,.1), 0 18px 43px rgba(166,173,201,.3);
  z-index: 500;
}

#contactContainer h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: -5px;
  color: white;
}

@media (max-width: 991.98px) {
  #contactContainer {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;
    height: auto;
    overflow: initial;
    max-height: inherit;
  }

}

#buttonAlignment {
  padding: 10px;
  text-align: center !important;
}

.customButton {
  background-color:rgba(224, 2, 1, .9);
  border-color: rgba(224, 2, 1, 1);
}

/*-------------------------------------- 4k Screen Support --------------------------------------*/
@media (max-width:3840px) and (min-width: 2500px) {
  #contactContainer {
    min-height: 350px;
    max-height: 500px;
    width: 1000px;
    position: absolute;
    bottom: 300px;
    left: 250px;
    background-color: #191919;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 13px rgba(154,160,185,.1), 0 18px 43px rgba(166,173,201,.3);
    z-index: 500;
  }

  #heroSection {
    background-image: url(../img/kitchenBox.jpg);
    background-size: cover;
    position: relative;
    height: 750px;
    width: 100%;
  }
  
  #heroRow {
    height: 750px;
    width: 100%;
  }
  
  #heroTitle {
    color: #FFFFFF;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
  }
}

/*-------------------------------------- First Body Text Area --------------------------------------*/
#topBodySection {
  text-align: right;
  /* background-color: white; */
  width: 100%;
}

#topBodySection h1 {
  text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.bodySection h1,h2,p{
  margin: 15px 25px;
}

/*-------------------------------------- About Section --------------------------------------*/
#aboutSection {
  /* background-color: rgba(32, 82, 179, 1); */
  padding: 15px;
  /* color: #FFFFFF; */
  /* border-top: 5px solid rgba(17, 44, 97, 1);
  border-bottom: 5px solid rgba(17, 44, 97, 1);
  outline: 5px solid rgba(224, 2, 1, .8); */
}

#aboutSection h2 {
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.bodyContent {
  margin-right: 100px;
  margin-left: 100px;
}

#aboutPG1 {
  margin-right: 0;
  text-align: justify;
}

#aboutPG2 {
  margin-left: 0;
  text-align: justify;
}

/*-------------------------------------- Team Section --------------------------------------*/
.teamSection {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.teamSection h2 {
  text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.teamSection .font-weight-medium {
  font-weight: 500;
}

.teamSection h5 {
  line-height: 22px;
  font-size: 18px;
}

.teamSection .subtitle {
  line-height: 24px;
  font-size: 13px;
}

.circleImageDiv {
  text-align: center;
  margin-bottom: -25px;
}

/*-------------------------------------- Footer --------------------------------------*/
#footer {
  background-color: #262626;
  color: white;
  text-align: center;
  margin-top: 50px;
}

#footerList {
  text-align: left;
}

.footerNav {
  color: white;
}

.footerNav a:hover {
  color: #2052b3;
}

/*-------------------------------------- Media Queries for Main Content --------------------------------------*/
@media (max-width: 1400px) and (min-width: 1000px) {
  #contactContainer {
    min-height: 350px;
    max-height: 450px;
    width: 650px;
    position: absolute;
    bottom: 0px;
    left: 100px;
    background-color: #191919;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 13px rgba(154,160,185,.1), 0 18px 43px rgba(166,173,201,.3);
    z-index: 500;
  }

  #heroSection {
    background-image: url(../img/kitchenBox.jpg);
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;
  }
  
  #heroRow {
    height: 450px;
    width: 100%;
  }
  
  #heroTitle {
    color: #FFFFFF;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
  }
}